{% extends 'layout.html' %}

{% block style %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/analyze.css') }}">
{% endblock %}

{% block content %}
    <div class="container">
        <form method="POST">
            <textarea name="input_text" placeholder="Write or Paste your text here...">{{ text }}</textarea>
            <button type="submit">Analyze</button>
        </form>
        {% if result %}
            <div class="output">
                <h2>Text Type:</h2>
                <p> this is a {{ result[0]['label'] }} text</p>
            </div>
        {% endif %}
    </div>
{% endblock %}